#scelza,
.bar {
  color: $green;
}

#about,
#contact {
  color: inherit;
  &:hover {
    color: $green;
  }
}

#work {
  color: $green;
  text-decoration: underline;
}

.gallery-hero {
  max-width: 700px;
  margin: 32px auto;
}

.gallery-tile {
  max-width: 700px;
  margin: 32px auto;
  margin-bottom: 96px;
}
